.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navItem {
  font-size: 12px;
  width: 100px;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 4px;
  margin: 0 -1px 0 0;
}